<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SmolChat</title>
    <link rel="stylesheet" href="static/session.css">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>
        /*to prevent Firefox FOUC*/
        let FF_FOUC_FIX;
    </script>
</head>
<body onload="check_cookie_username()">
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> SmolChat
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>
        <main class="msger-chat" id="msger-chat">
            </div>
            </div>
        </main>
        <form class="msger-inputarea" action="" method="POST">
            <img src="static/img/gearicon.png" id="gear_icon" alt="gear icon" height="41">
            <!-- <input type="text" class="msger-input" placeholder="Enter your message..."> -->
            <input type="text" spellcheck="false" class="username" id="username" placeholder="User Name" size="15%" maxlength="18" />
            <input type="text" hidden class="formsessionstatus" id="formsessionstatus" value="0" size="5%" maxlength="2" />
            <input type="text" id="txtinput" class="message msger-input" placeholder="Enter your message.." />
            <img src="static/img/nudge2.png" id="nudge_icon" alt="gear icon" height="41">
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
    <!-- <script type="text/javascript" src="static/newconnection.js"></script> -->
    <script type="text/javascript" src="static/checks.js"></script>

<!-- //var socket = io.connect('http://' + document.domain + ':' + location.port);
// new client connection -->


</body>
</html>